* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  overflow: hidden;
}

.navbar {
  position: absolute;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
 
}
.nav-logo {
  margin-right: 2rem;
  font-size: 1.4rem;
  padding: 5px;
  background-color: #e41e26;
  border-radius: 50%;
}
.nav-logo p {
  padding: 5px;
  font-family:
    "Loki Cola", "Spencerian Script", "Exmouth", "Brush Script MT", cursive;
  color: #ffffff;
}
.cocaCola {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
}

.text-field {
  flex: 1;
}
.text-field h2 {
  color: #111;
}

.tagline,
.logo {
  color: white;
  font-family: sans-serif;
  line-height: 1;
}

.tagline {
  font-size: 6rem;
}

.logo {
  font-size: 9rem;
}

.cocaCola-bottle {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cocaCola-bottle img {
  height: 85vh;
  transform: rotate(-10deg);
  object-fit: contain;
}
